.similar-movies-link-item {
  width: 100%;
  height: 260px;
  border-radius: 10px;
  text-decoration: none;
}

.similar-movies-link-item:hover {
  text-decoration: none;
}

.similar-movies-image {
  width: 100%;
  height: 260px;
  border-radius: 10px;
}

.similar-movies-container:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
